

<app-navbar></app-navbar> 

<div class="header">
  <h2 class="collection-header">Bags</h2>
</div>

<div class="btn-container">
  <div class="btn">Face</div>
  <div class="btn">Eye</div>
  <div class="btn">Lip</div>
  <div class="btn">Cheek</div>
 
</div>

<div class="product-list-container">
  <div class="product-list" [routerLink]="['face']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/Dress-removebg-preview_6bJvzf4e8.png?updatedAt=1708789393500"
      alt=""
    />
    <h5 class="product-list-text">Face</h5>
  </div>
  <div class="product-list" [routerLink]="['eyes']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/tops-removebg-preview_Z78q9J_wQ.png?updatedAt=1708789393483"
      alt=""
    />
    <h5 class="product-list-text">Eye</h5>

  </div>

  <div class="product-list" [routerLink]="['lips']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/tops-removebg-preview_Z78q9J_wQ.png?updatedAt=1708789393483"
      alt=""
    />
    <h5 class="product-list-text">Lip</h5>
  </div>

  <div class="product-list" [routerLink]="['cheeks']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/tops-removebg-preview_Z78q9J_wQ.png?updatedAt=1708789393483"
      alt=""
    />
    <h5 class="product-list-text">Cheek</h5>
  </div>

</div>
