li {
  list-style-type: none;
}
.list-container {
  margin: 20px auto;
  width: 70%;
}
h2 {
  padding: 20px 50px;
  background-color: #006994; /* Cor fria similar ao cadastro de clientes */
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  max-width: 500px;
  text-align: center; /* Centraliza o texto dentro do h2 */
  margin-left: 30%;
}

.list-item {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #dceaee; /* Mesma cor de fundo do formulário de cadastro de clientes */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-item:hover {
  background-color: #c8d8e0; /* Tom mais claro para hover */
}

.list-item-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Cor do texto similar ao cadastro de clientes */
}

.list-item-description {
  color: #666;
}

.view-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #006994; /* Cor fria similar ao cadastro de clientes */
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
/*Configuração dos botoes dos cards*/
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 100px; /* Define uma largura fixa */
  height: 25px; /* Define uma altura fixa */
  margin-top: 10px;
  margin-right: 12px;
  overflow: hidden; /* Oculta o conteúdo que ultrapassar o botão */
}

.btn .btn-text {
  opacity: 0; /* Oculta o texto inicialmente */
  transition: opacity 0.3s ease;
  white-space: nowrap; /* Evita que o texto quebre em várias linhas */
}

.btn:hover {
  transform: scale(
    1.1
  ); /* Aumenta ligeiramente a escala do botão ao passar o mouse */
  border-radius: 5px;
}

.btn:hover .btn-text {
  opacity: 1; /* Exibe o texto ao passar o mouse sobre o botão */
}
.btn-sucesso {
  background-color: #00944a;
}

.btn-perigo {
  background-color: #ff0000;
}

.btn-aviso {
  background-color: #ffa500;
}
/* Fim configuração dos botoes dos cards*/

.view-btn:hover {
  background-color: #004d73; /* Tom mais escuro para hover */
}
/* mensgem -sucesso*/
.mensagem-sucesso {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 10px;
  z-index: 9999;
  font-size: 18px;
  text-align: center;
  animation: fadeOut 3s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*fim */

@media (max-width: 768px) {
  .list-container {
    width: 80%; /* Ajusta a largura para telas menores */
    padding: 20px;
  }

  .list-item {
    padding: 20px;
    margin-bottom: 20px;
  }

  .view-btn {
    padding: 8px 26px; /* Ajusta o padding para botões em telas menores */
    font-size: 14px; /* Reduz o tamanho da fonte para botões em telas menores */
  }
}
