li {
  list-style-type: none;
}
.list-container {
  margin: 20px auto;
  width: 70%;
}
h2 {
  padding: 20px 50px;
  background-color: #006994; /* Cor fria similar ao cadastro de clientes */
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  max-width: 500px;
  text-align: center; /* Centraliza o texto dentro do h2 */
  margin-left: 30%;
}

.list-item {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #dceaee; /* Mesma cor de fundo do formulário de cadastro de clientes */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-item:hover {
  background-color: #c8d8e0; /* Tom mais claro para hover */
}

.list-item-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Cor do texto similar ao cadastro de clientes */
}

.list-item-description {
  color: #666;
}

.view-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #006994; /* Cor fria similar ao cadastro de clientes */
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.view-btn-sucesso {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00944a;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
  width: 100px;
  margin-top: 10px;
}

.view-btn-sucesso {
  padding: 5px; /* Adiciona um espaçamento interno mínimo */
  transition: all 0.3s ease; /* Adiciona uma transição suave */
  transform: scale(1); /* Define a escala inicial do botão */
  /* border-radius: 50%; /* Torna o botão uma bolinha */
  overflow: hidden; /* Oculta o texto que ultrapassar o botão */
}

.view-btn-sucesso .btn-text {
  opacity: 0; /* Oculta o texto inicialmente */
  transition: opacity 0.3s ease; /* Adiciona uma transição suave para a opacidade */
  margin-left: 5px; /* Adiciona um espaçamento entre o ícone e o texto */
  white-space: nowrap; /* Evita que o texto quebre em várias linhas */
}

.view-btn-sucesso:hover {
  transform: scale(1.2); /* Aumenta a escala do botão ao passar o mouse */
  padding: 5px 10px; /* Aumenta o espaçamento interno para acomodar o texto */
  border-radius: 5px; /* Torna o botão retangular */
}

.view-btn-sucesso:hover .btn-text {
  opacity: 1; /* Exibe o texto ao passar o mouse sobre o botão */
}

.view-btn:hover {
  background-color: #004d73; /* Tom mais escuro para hover */
}

@media (max-width: 768px) {
  .list-container {
    width: 80%; /* Ajusta a largura para telas menores */
    padding: 20px;
  }

  .list-item {
    padding: 20px;
    margin-bottom: 20px;
  }

  .view-btn {
    padding: 8px 26px; /* Ajusta o padding para botões em telas menores */
    font-size: 14px; /* Reduz o tamanho da fonte para botões em telas menores */
  }
}
