<app-navbar2></app-navbar2>
<div class="list-container">
    <h2>Lista de Atendimentos</h2>
    <ul>
        <li *ngFor="let atendimento of atendimentos" class="list-item">
            <p class="list-item-title">Nome do Cliente: {{ clientes[atendimento.cliente] }}</p>
            <p class="list-item-description">Observações: {{ atendimento.observacoes }}</p>
            <p class="list-item-description">Serviço: {{ atendimento.tipo_servico }}</p>
            <p class="list-item-description">Atendimento Via :{{ atendimento. atendimento_via }}</p>
            <p class="list-item-description">Data: {{ atendimento.dataCriacao }}</p>
           
            
        </li>
    </ul>
</div>
