<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class="bx bx-cart bx-md"></i>
  </div>
  <div class="nav-bar-logo">LOGO</div>
  <div class="nav-bar-menu">
    <i class="bx bx-menu bx-md"></i>
  </div>
</div>

<div>
  <img
    class="banner"
    src="https://ik.imagekit.io/cqjm5db3n/banner-dark_W5uq7Dv5o.jpg?updatedAt=1706028048888"
  />
</div>

<div class="header">
  <h2 class="collection-header">Bags</h2>
</div>

<div class="btn-container">
  <div class="btn">Purses</div>
  <div class="btn">Designer Bags</div>
  <div class="btn">Shouder Bags</div>
  <div class="btn">Travel Bags</div>
</div>

<div class="product-list-container">
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/21789859-1-nero-removebg-preview_wgW5IS-k3.png?updatedAt=1706028046950"
      alt=""
    />
    <h5 class="product-list-text">Purses</h5>
  </div>
  <div class="product-list" [routerLink]="['designerbags']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/202649543-1-pink-removebg-preview_VSV6qfVeQ.png?updatedAt=1706028047460"
      alt=""
    />
    <h5 class="product-list-text">Designer Bags</h5>
  </div>
  <div class="product-list" [routerLink]="['shoulderbags']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/201868254-1-black_2b00csX-_.png?updatedAt=1706028048511"
      alt=""
    />
    <h5 class="product-list-text">Shouder Bags</h5>
  </div>
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/purse-removebg-preview_Dg2F0Tc4V.png?updatedAt=1706028048359"
      alt=""
    />
    <h5 class="product-list-text">Travel Bags</h5>
  </div>
</div>
