

<app-navbar></app-navbar> 

<div class="header">
  <h2 class="collection-header">Bags</h2>
</div>

<div class="btn-container">
  <div class="btn">Dress</div>
  <div class="btn">Tops</div>
 
</div>

<div class="product-list-container">
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/Dress-removebg-preview_6bJvzf4e8.png?updatedAt=1708789393500"
      alt=""
    />
    <h5 class="product-list-text">Shoes</h5>
  </div>
  <div class="product-list" [routerLink]="['designerbags']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/tops-removebg-preview_Z78q9J_wQ.png?updatedAt=1708789393483"
      alt=""
    />
    <h5 class="product-list-text">Jewelry</h5>
  </div>

</div>
