<app-navbar></app-navbar> 

<div *ngIf="product">
  <div class="product-list-container">
    <div class="header">
      <h4 class="collection-header">{{ product.brands }}</h4>
    </div>

    <div class="product-list">
      <img class="product-img" [src]="product.imgUrl1" alt="" />
      <h5 class="product-list-text">Purses</h5>
    </div>
    <div class="product-price">{{ product.price | currency : "USD" }}</div>

    <div class="product-info">
      {{ product.description }}
    </div>
  </div>

  <div class="lower-diplay">
    <div class="buy-btn-container">
      <button class="buy-btn">Buy</button>
    </div>
    <carousel
      [images]="images"
      [height]="90"
      [width]="230"
      [counter]="true"
      [arrowsOutside]="true"
      class="carousel-container"
    >
    </carousel>
  </div>
</div>
