<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class="bx bx-cart bx-md"></i>
  </div>
  <div class="nav-bar-logo">LOGO</div>
  <div class="nav-bar-menu">
    <i class="bx bx-menu bx-md"></i>
  </div>
</div>

<div>
  <img
    class="banner"
    src="https://ik.imagekit.io/cqjm5db3n/banner-dark_W5uq7Dv5o.jpg?updatedAt=1706028048888"
  />
</div>

<div *ngIf="product">
  <div class="header">
    <h4 class="collection-header">{{ product.brands }}</h4>
  </div>

  <div class="product-list-container">
    <div class="product-list">
      <img class="product-img" [src]="product.imgUrl1" alt="" />
      <h5 class="product-list-text">Purses</h5>
    </div>
    <div class="product-price">{{ product.price }}</div>

    <div class="product-info">
      {{ product.description }}
    </div>
  </div>

  <div class="buy-btn-container">
    <button class="buy-btn">Buy</button>
  </div>

  <carousel [images]="images"></carousel>
</div>
