

<app-navbar></app-navbar> 

<div class="header">
  <h2 class="collection-header">Bags</h2>
</div>

<div class="btn-container">
  <div class="btn">Dress</div>
  <div class="btn">Tops</div>
  <div class="btn">Bottoms</div>
  <div class="btn">Jeans</div>
</div>

<div class="product-list-container">
  <div class="product-list" [routerLink]="['dress']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/Dress-removebg-preview_6bJvzf4e8.png?updatedAt=1708789393500"
      alt=""
    />
    <h5 class="product-list-text">Dress</h5>
  </div>
  <div class="product-list" [routerLink]="['tops']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/tops-removebg-preview_Z78q9J_wQ.png?updatedAt=1708789393483"
      alt=""
    />
    <h5 class="product-list-text">Tops</h5>
  </div>
  <div class="product-list" [routerLink]="['bottoms']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/Bottoms-removebg-preview_mylpr4arL.png?updatedAt=1708789392572"
      alt=""
    />
    <h5 class="product-list-text">Bottoms</h5>
  </div>
  <div class="product-list" [routerLink]="['jeans']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/diversos/00469535-01-removebg-preview_D6KYgUaZ0.png?updatedAt=1708789388723"
      alt=""
    />
    <h5 class="product-list-text">Jeans</h5>
  </div>
</div>
