<app-navbar2></app-navbar2>

<form [formGroup]="atendimentoForm" (ngSubmit)="onSubmit()">

    <select class="atendimento-input" formControlName="cliente">
        <option *ngFor="let cliente of clientes" [value]="cliente.id" >{{ cliente.nome }}</option>
      </select>
 
    <input class="atendimento-input" placeholder="Observacoes" type="text" formControlName="observacoes">
    <input class="atendimento-input" placeholder="Tipo_servico" type="text" formControlName="tipo_servico">
  
    <select class="atendimento-input" formControlName="atendimento_via">
        <option value="" disabled selected>Selecione o tipo de atendimento</option>
        <option *ngFor="let origem of origensAtendimento" [value]="origem.id">{{ origem.nome_antendimento }}</option>
    </select>
  
  
   
    <div class="btn-container">
        <button class="submit-btn">
            Submit
        </button>
    </div>
    <div class="btn-container" [routerLink]="['/']">
        <button class="submit-btn">
            Home
        </button>
       
    </div>
    <div class="btn-container" [routerLink]="['/atendimento']">
        <button class="submit-btn">
            Listar Atendimento
        </button>
       
    </div>

</form>
