.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding-top: 60px;
  transition: width 0.3s ease;
}

.collapsed {
  width: 80px; /* Largura do menu retraído */
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 10px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  
}


.toggle-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logout-link {
  text-decoration: none; /* Remove o sublinhado padrão do link */
  color: #fff; /* Define a cor do texto */
  cursor: pointer; /* Muda o cursor ao passar o mouse sobre o link */
}

.logout-link i {
  margin-right: 5px; /* Adiciona um espaço entre o ícone e o texto */
  /* Adicione estilos adicionais conforme necessário */
}

/* Ajuste o tamanho dos ícones para desktop */
@media (min-width: 768px) {
  .menu li a i {
    font-size: 24px; /* Tamanho dos ícones para desktop */
    margin-right: 5px
  }
  .toggle-btn span i
  {
    font-size: 24px;
  }
}

/* Ajuste o tamanho dos ícones para dispositivos móveis */
@media (max-width: 767px) {
  .menu li a i {
    font-size: 18px; /* Tamanho dos ícones para dispositivos móveis */
  }
  .toggle-btn span i
  {
    font-size: 18px;
  }
  
}

.content {
  margin-left: 250px; /* Ajuste conforme necessário para a largura da barra lateral */
  padding: 20px;
}
