<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input class="login-input" type="text" placeholder="Username" formControlName="username">
      <input class="login-input" type="password" placeholder="Password" formControlName="password">
      <div>
        <input type="checkbox" id="savePassword" formControlName="savePassword" >
        <label for="savePassword">Salvar senha</label>
      </div>
      <div class="btn-container">
        <button class="btn btn-primary">Entrar</button>
      </div>
    </form>
  </div>