<div class="form-container">
  <h2>HelpDesk</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input
      class="login-input"
      type="text"
      placeholder="Username"
      formControlName="username"
    />
    <input
      class="login-input"
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <div>
      <input type="checkbox" id="savePassword" formControlName="savePassword" />
      <label for="savePassword">Lembrar Senha</label>
    </div>
    <div class="btn-container">
      <button class="submit-btn" type="submit">Entrar</button>
    </div>
  </form>
</div>
