<app-navbar2></app-navbar2>

<div class="form-container">
  <h2>Cadastro de Clientes</h2>
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    <input
      class="cliente-input"
      placeholder="Nome"
      type="text"
      formControlName="nome"
    />
    <input
      class="cliente-input"
      placeholder="Cpf"
      type="text"
      formControlName="cpf"
    />
    <input
      class="cliente-input"
      placeholder="Email"
      type="text"
      formControlName="email"
    />

    <div class="btn-container">
      <button class="submit-btn" type="submit">Salvar</button>
    </div>
    <div class="btn-container" [routerLink]="['/home']">
      <button class="submit-btn" type="button">Home</button>
    </div>

    <div class="btn-container" [routerLink]="['/cliente']">
      <button class="submit-btn" type="button">Clientes</button>
    </div>
  </form>
  <div *ngIf="exibirMensagemSucesso" class="mensagem-sucesso">
    {{ mensagemSucesso }}
  </div>
</div>
