.container {
  position: relative;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-left: 1rem;
}

/*/ BOTAO*/
/* Estilos para o botão primário */
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

a {
  text-decoration: none;
}

/*tabela*/
/* Novos estilos para as tabelas */
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: left;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #1a237e;
  color: #ffffff;
}

.table tbody tr:nth-of-type(odd) {
  background-color: rgba(26, 35, 126, 0.05);
}

.table tbody tr:hover {
  background-color: rgba(26, 35, 126, 0.1);
}

h4 {
  color: #1a237e;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .land-img {
    margin: 2.5rem 0 0 1rem;
  }

  .lang-img-container {
    grid-area: left;
  }
  .product-list-container {
    grid-area: right;
  }
  .desktop-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'left right'
      'left right';
  }
  h2 br {
    display: none;
  }

  .desktop-view {
    display: block; /* Alterado de grid para block */
  }

  .table-container {
    max-width: 80%;
  }
}
