<!--<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class="bx bx-cart bx-md"></i>
  </div>
  <div class="nav-bar-logo">LOGO</div>
  <div class="nav-bar-menu">
    <i class="bx bx-menu bx-md"></i>
  </div>
</div>-->
<app-navbar></app-navbar> 

<div class="container">
  <div class="header">
    <h2 class="collection-header">
      Nova coleção <br />
      verão 2024
    </h2>
    <i class="bx bxs-chevron-down-circle bx-lg"></i>
  </div>
</div>

<div class="desktop-view">

  <div class="lang-img-container">
    <img
      class="land-img"
      src="https://ik.imagekit.io/cqjm5db3n/Screen_Shot_2022-06-01_at_1.04.22_AM_lU5uC-XyW.png?updatedAt=1706369661900"
    />
  </div>

  <div class="btn-container">
    <li><a [routerLink]="['/bags']">Bolsas</a></li>
    <div class="btn">Cosmetics</div>
    <div class="btn">Clothing</div>
    <div class="btn">Accessories</div>
  </div>

  <div class="product-list-container">
    <div class="product-list" [routerLink]="['/bags']">
      <img
        class="product-img"
        src="https://ik.imagekit.io/cqjm5db3n/dres.png?updatedAt=1705951004068"
        alt=""
      />
      <h5 class="product-list-text">Bags</h5>
    </div>
    <div class="product-list" [routerLink]="['/cosmetics']">
      <img
        class="product-img"
        src="https://ik.imagekit.io/cqjm5db3n/bags_300_vKpy1UGw8.png?updatedAt=1705951176862"
        alt=""
      />
      <h5 class="product-list-text">Cosmetic</h5>
    </div>
    <div class="product-list" [routerLink]="['/clothing']">
      <img
        class="product-img"
        src="https://ik.imagekit.io/cqjm5db3n/dres.png?updatedAt=1705951004068"
        alt=""
      />
      <h5 class="product-list-text">Clothing</h5>
    </div>
    <div class="product-list" [routerLink]="['/accessories']">
      <img
        class="product-img"
        src="https://ik.imagekit.io/cqjm5db3n/bags_300_vKpy1UGw8.png?updatedAt=1705951176862"
        alt=""
      />
      <h5 class="product-list-text">Acessories</h5>
    </div>
  </div>
</div>
