<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class="bx bx-cart bx-md"></i>
  </div>
  <div class="nav-bar-logo">LOGO</div>
  <div class="nav-bar-menu">
    <i class="bx bx-menu bx-md"></i>
  </div>
</div>

<div class="header">
  <h2 class="collection-header">Nova coleção de verão 2024</h2>
</div>

<div class="btn-container">
  <div class="btn">Bags</div>
  <div class="btn">Cosmetics</div>
  <div class="btn">Dress</div>
  <div class="btn">Accessories</div>
</div>

<div class="product-list-container">
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/dres.png?updatedAt=1705951004068"
      alt=""
    />
    <h5 class="product-list-text">Acessories</h5>
  </div>
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/bags_300_vKpy1UGw8.png?updatedAt=1705951176862"
      alt=""
    />
    <h5 class="product-list-text">Bags</h5>
  </div>
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/dres.png?updatedAt=1705951004068"
      alt=""
    />
    <h5 class="product-list-text">Cosmetics</h5>
  </div>
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/cqjm5db3n/bags_300_vKpy1UGw8.png?updatedAt=1705951176862"
      alt=""
    />
    <h5 class="product-list-text">Dress</h5>
  </div>
</div>
