<div class="modal-overlay" *ngIf="atendimento">
  <div class="modal-content">
    <div class="form-container">
      <h2>Editar Atendimento</h2>
      <div class="form-row">
        <label>Nome do Cliente:</label>
        <input class="atendimento-input" [(ngModel)]="nomeCliente" />
      </div>
      <div class="form-row">
        <label>Observações:</label>
        <textarea
          class="atendimento-input observacoes"
          [(ngModel)]="observacoes"
        ></textarea>
      </div>
      <div class="form-row">
        <label>Tipo de Serviço:</label>
        <select class="atendimento-input" [(ngModel)]="tipoServico">
          <option *ngFor="let tipo of tiposServico" [value]="tipo.id">
            {{ tipo.nome_servico }}
          </option>
        </select>
      </div>
      <div class="form-row">
        <label>Origem do Atendimento:</label>
        <select class="atendimento-input" [(ngModel)]="origemAtendimento">
          <option *ngFor="let origem of origensAtendimento" [value]="origem.id">
            {{ origem.nome_antendimento }}
          </option>
        </select>
      </div>
      <div class="btn-container">
        <button class="submit-btn" (click)="onSalvar()">Salvar</button>
        <button class="submit-btn" (click)="onCancelar()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
