<div *ngIf="openMenu" [ngClass]="{'mobileMenu': openMenu}">
    <div>
      <i *ngIf="openMenu" 
      (click)="toggleMenu()"
       class="bx bx-x bx-lg menu-close"
        style="color: rgb(31,31,31);"></i>
    </div>
    
    <ul>
      <li><a>My Cart</a></li>
      <li><a>Bags</a></li> 
      <li><a>Makeup</a></li>
      <li><a>Clothing</a></li>
      <li><a>Acessories</a></li>
      <li><a>Acessories</a></li>
      
    </ul>
  
  </div>
  
  <div class="nav-bar">
    <div class="nav-bar-logo">
      <img
        class="logo-img"
        src="https://ik.imagekit.io/cqjm5db3n/logo-topic+55.png?updatedAt=1708173965782"
        alt=""
      />
    </div>
  
    <div class="nav-bar-menu" (click)="toggleMenu()">
      <i class="bx bx-menu bx-lg" style="color: black"></i>
    </div>
  </div>
<!--PAREI EM 7 MINUTOS GERADO COMPONENETE NAV BAR-->
