
.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  overflow: hidden; /* Garanta que os itens do menu não vazem para fora do contêiner */
}

.nav-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://ik.imagekit.io/cqjm5db3n/banner-dark_W5uq7Dv5o.jpg?updatedAt=1706028048888");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1; /* Garanta que a imagem de fundo esteja atrás dos outros elementos */
  transition: opacity 0.3s ease; /* Adicione uma transição suave para o efeito de desaparecimento */
}

.nav-bar-menu {
  position: relative;
  z-index: 2; /* Garanta que o ícone do menu esteja na frente da imagem de fundo */
  margin: 1rem;
}

.mobileMenu {
  width: 100%;
  height: 100%;
  background-color: rgba(243, 236, 236, 0.97);
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001; /* Defina um valor alto para o menu móvel */
}

.hide-background {
  opacity: 0; /* Faça a imagem de fundo desaparecer quando o menu é aberto */
}


  
  .logo-img {
    width: 30px;
    margin: 0.3rem;
  }
  
  .collection-header {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
  }
  
  .header {
    margin-top: 1rem;
  }
  
  .banner {
    max-width: 100%;
  }
  
  /*/*NAV BAR MOBILE*/
  .menu-itens{
  display: none;
  }
  .hideText {
    display: none;
  }
  
 
  
  .nav-bar-logo{
    margin: 1rem;
  }
  

  
  .menu-close{
    position: absolute;
    right: 10px;
    top:10px;
  }
  
  .mobileMenu ul{
    margin-top: 4rem;
    position: relative; /* Adicione position relative */
    z-index: 1001; /* Defina um valor alto para os itens do menu */
  }
  
  .mobileMenu ul li{
    list-style: none;
    margin: 1rem auto;

   
    position: relative; /* Adicione position relative */
    z-index: 1001; /* Defina um valor alto para os itens do menu */
  }
  
  .mobileMenu ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;

   
  }
  
  
  @media screen and (min-width: 768px) {
   
  
    /*Nav-bar start*/
    .nav-bar {
      min-height: 180px;
      position: relative;
    }
  
    .menu-items {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  
    .menu-items li {
      float: left;
      display: block;
      font-weight: 700;
      padding: 8px 20px;
      text-decoration: none;
      color: white; 
    }
    .nav-bar-menu {
      display: block;
    }

    .desktop-menu {
      position: relative;
      z-index: 1001; /* Defina um valor alto para os itens do menu da versão desktop */
    }
  }
  