<div class="nav-bar">
    <div class="nav-bar-background" [ngClass]="{ 'hide-background': openMenu }"></div> <!-- Adicione um elemento para a imagem de fundo com uma classe condicional -->
    <div *ngIf="openMenu" [ngClass]="{'mobileMenu': openMenu}">
      <div>
          <i 
              *ngIf="openMenu" 
              (click)="toggleMenu()" 
              class='bx bx-x bx-lg menu-close' 
              style="color: rgb(31, 31, 31)"></i>
      </div>
      <ul [ngClass]="{'desktop-menu': isDesktop}">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/create']">Cadastro</a></li>
          <li><a [routerLink]="['/createCliente']">CadastroCliente</a></li>
          <li><a>Contact</a></li>
          <li><a [routerLink]="['/auth/login']">Login</a></li>
          <li *ngIf="isUserAuthenticated"><a [routerLink]="['/create']">Criar</a></li>
          <li><a (click)="logout()">Sair</a></li> <!-- Botão "Sair" -->
      </ul>
    </div>
  
    <div class="nav-bar-logo" [routerLink]="['/']">
      <img class="logo-img" src="https://ik.imagekit.io/bprw8mk45/products/a%CC%82__Pngtreea%CC%82__creative_company_logo_1197025_LuZ_u5Kgi.png?ik-sdk-version=javascript-1.4.3&updatedAt=1663302070049" alt="">
    </div>
  
    <div class="nav-bar-menu" (click)="toggleMenu()">
      <i class='bx bx-menu bx-lg' style='color: white'></i>
    </div>
  </div>
  